# DevForge configuration

DEVFORGE_USER="${SUDO_USER:-$USER}"

INSTALL_SYSTEM=true
INSTALL_TERMINAL=false
INSTALL_GIT=false
INSTALL_PHP=false
INSTALL_NODE=false
INSTALL_DOCKER=false
INSTALL_DATABASES=false
INSTALL_BROWSERS=false
INSTALL_APPS=false

ENABLE_SYSTEM_UPGRADE=false
