# DevForge configuration

DEVFORGE_USER="${SUDO_USER:-$USER}"

INSTALL_SYSTEM=true
INSTALL_TERMINAL=false
INSTALL_GIT=false
INSTALL_PHP=false
INSTALL_NODE=false
INSTALL_DOCKER=false
INSTALL_DATABASES=false
INSTALL_BROWSERS=false
INSTALL_APPS=false

# Browser installation
INSTALL_CHROME=true
INSTALL_BRAVE=true

# Desktop application installation
INSTALL_VSCODE=true
INSTALL_DBEAVER=true
INSTALL_BITWARDEN=true
INSTALL_SPOTIFY=true
INSTALL_VLC=true
INSTALL_FILEZILLA=true
INSTALL_KEEPASSXC=false

# PHP configuration
PHP_VERSION=8.4

ENABLE_SYSTEM_UPGRADE=false
